.calendar {
  &__time-slot {
    height: 59px;
    position: relative;
    border-bottom: 1px solid #eee;
  }
}

.time-counter {
  display: flex;
  &::before {
    content: "";
    display: inline-block;

    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ff0000;
  }
}
