.button {
  padding: 0 16px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #6495ed;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.button_red {
  background-color: #f03f3f;
}
.button_margin {
  margin: 0 20px;
}
