.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    display: flex;
    height: 100px;
    padding-left: 48px;
  }

  &__body {
    position: relative;
    display: flex;
    overflow: auto;
  }

  &__time-scale {
    height: 100%;
    width: 48px;
  }
}
