.day-label {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0.6;

  &__day-name {
    font-size: 16px;
    text-transform: uppercase;

    &_match {
      color: #1965f3;
      opacity: 1;
    }
  }

  &__day-number {
    margin-top: 5px;
    font-size: 20px;

    &_match {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      color: #fff;
      background-color: #1965f3;
      border-radius: 50%;
      opacity: 1;
    }
  }
}

.time-zone {
  height: 20px;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}
