.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    display: flex;
    height: 125px;
    padding-left: 48px;
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid #eee;
  }
}

.time-zone {
  height: 20px;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}
