.event {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;

  color: #fff;

  &-body {
    background-color: inherit;
    transition: all 0.1s ease;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;

    &:hover {
      background-color: red;
    }
    &__title {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.delete-event-btn:hover {
  background-color: #dacfcf;
}
